.intro {
    min-height: 100vh;

    background: linear-gradient(to right, #26233bbe, #26233bbe), url("../img/wallaper.jpg");
    background-position: center center;
    background-size: cover;
}

.header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0;
}

.header a {
    color: #fff;
    transition: color 0.2s linear;
}

.header a:hover {
    color: #f25a29;
}

.header__logo {
    font-size: 1.2rem;
}

.header__menu {
    width: 50%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;   
}

.menu__item {
    transition: all 0.5s linear;
    position: relative;
}

.menu__item::after {
    content: "";
    width: 0;
    height: 2px;

    position: absolute;

    background-color: #fff;
    left: 0;
    bottom: -5px;

    transition: all .2s linear;
}

.menu__item:hover::after {
    width: 100%;
    background-color: #f25a29;
    transition: all .2s linear;
}

.btn {
    padding: 15px;

    color: #fff;
    background-color: #f25a29;

    border: 2px solid #f25a29;
    border-radius: 12px;

    transition: all 0.3s linear;
}

.btn:hover {
    background-color: #fff;
    border-color: #fff;

    color: #f25a29;
}

.btn_intro {
    width: 175px;
    text-align: center;
}

.section__title-intro {
    height: 65vh;
}
.title_intro {
    color: #fff;
}


@media (max-width: 768px) {

    .container {
        padding: 15px;
    }

    .header .header__menu  {
        display: none;
    }

    .header__logo {
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 2em;
        text-align: center;
    }
}